<template>
    <header>
        <div class="row expanded align-stretch">
            <div class="columns small-12 medium-2 align-self-middle">
                <logo-component></logo-component>
            </div>
            <div class="columns align-self-middle ">
                <h1>{{msg}}</h1>
            </div>
        </div>
    </header>
</template>

<script>
  import LogoComponent from '../components/logo'

  export default {
    name: 'header-component',
    components: {
      LogoComponent
    },
    data () {
      return {
        msg: 'Vue Prerendering'
      }
    }
  }
</script>
