form {
  padding-top: 1.75rem;
}
.form-group__message {
  font-size: .75rem;
  line-height: 1;
  display: none;
  margin-left: 14px;
  margin-bottom: .9375rem;
}

.form-group--error + .form-group__message {
  display: block;
  color: $color-red;
}