<template>
    <div>
        <header-layer></header-layer>
        <form-component></form-component>
        <hr>
        <footer-layer></footer-layer>
    </div>
</template>

<script>
  import HeaderLayer from '../layers/header'
  import FooterLayer from '../layers/footer'
  import FormComponent from '../components/form'

  export default {
    name: 'landing-3',
    components: {
      HeaderLayer, FooterLayer, FormComponent
    },
    data () {
      return {
      }
    }
  }
</script>
