<template>
    <div>
        <header-layer></header-layer>
        <form-component></form-component>
        <hr>
        <section-component :articles="articles">
            <template slot="footer">
                <a href="#"> Slot content</a>
            </template>
        </section-component>
        <hr>
        <footer-layer></footer-layer>
    </div>
</template>

<script>
  import HeaderLayer from '../layers/header'
  import FooterLayer from '../layers/footer'
  import SectionComponent from '../components/section'
  import FormComponent from '../components/form'

  const articles = [{
    className: 'small-4 columns',
    title: 'example title',
    text: 'example text'
  }, {
    className: 'small-8 columns',
    title: 'another example title',
    text: 'example text'
  }]
  export default {
    name: 'landing-2',
    components: {
      HeaderLayer, FooterLayer, SectionComponent, FormComponent
    },
    data () {
      return {
        currencyVal: '1000.20',
        articles
      }
    }
  }
</script>
