<template>
    <div>
        <header-layer></header-layer>
        <hr>
        <section-component></section-component>
        <hr>
        <footer-layer></footer-layer>
    </div>
</template>

<script>
  import HeaderLayer from '../layers/header'
  import FooterLayer from '../layers/footer'
  import SectionComponent from '../components/section'

  export default {
    name: 'landing',
    components: {
      HeaderLayer, FooterLayer, SectionComponent
    },
    data () {
      return {}
    }
  }
</script>
