* {
  box-sizing: border-box;
}

html {
  background: $color-main;
  color: $color-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @include Roboto-light();
}

#app {
  &.container {
    width: 100%;
    margin: 0 auto;
    max-width: 67em;
    padding: 0 1em;
  }
  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: $color-green;
  }
}