<template>
    <form @submit.stop.prevent="handleOk">
        <div class="row expanded">
            <div class="column small-12">
                <h2>Validation example</h2>
            </div>
            <div class="medium-6 small-12 columns">
                <label v-bind:class="{ 'form-group--error': $v.user.name.$error }">
                    Name
                    <input type="text" v-model.trim="user.name" @input="$v.user.name.$touch()">
                </label>
                <span class="form-group__message"
                      v-if="!$v.user.name.required">Field is required</span>
                <span class="form-group__message"
                      v-if="!$v.user.name.minLength">Name must have at least {{$v.user.name.$params.minLength.min}} letters.</span>
            </div>
            <div class="medium-6 small-12 columns">
                <label v-bind:class="{ 'form-group--error': $v.user.age.$error }">
                    Age
                    <input type="text" v-model.trim="user.age" @blur="$v.user.age.$touch()">
                </label>
                <span class="form-group__message"
                      v-if="!$v.user.age.between">Must be between {{$v.user.age.$params.between.min}} and {{$v.user.age.$params.between.max}}</span>
            </div>
            <div class="small-12 columns">
                <button class="button" :disabled="$v.user.$invalid">Save</button>
            </div>
        </div>
    </form>
</template>

<script>
  import {required, minLength, between} from 'vuelidate/lib/validators'

  export default {
    name: 'form-component',
    data () {
      return {
        user: {
          name: '',
          age: 0
        }
      }
    },
    validations: {
      user: {
        name: {
          required,
          minLength: minLength(4)
        },
        age: {
          between: between(20, 30)
        }
      }
    },
    methods: {
      validateFields () {
        return !this.$v.user.$invalid
      },
      handleOk (event) {
        event.preventDefault()
        if (!this.validateFields()) {
          this.$v.user.$touch()
        } else {
          this.handleSubmit()
        }
      },
      handleSubmit () {
        console.log('OK!')
      }
    }
  }
</script>