<template>
    <section class="row expanded">
        <template v-for="article in articles">
            <article :class="article.className">
                <h2 v-if="article.title">{{article.title}}</h2>
                <p v-if="article.text">
                    {{article.text}}
                </p>
            </article>
        </template>
        <div class="small-12 column">
            <slot name='footer'></slot>
        </div>
    </section>
</template>

<script>
  export default {
    name: 'section-component',
    props: {
      articles: {
        default () {
          return [{
            className: 'small-12 columns',
            title: 'Demo component',
            text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, doloremque ducimus eos harum modi nam placeat reiciendis ullam! Aliquam, architecto aspernatur consectetur delectus iusto omnis quam quia velit vitae voluptatum.'
          }]
        }
      }
    }
  }
</script>